services:
  backend:
    build: ./backend
    ports:
      - "5000:5000"
    env_file:
      - ./backend/.env
    depends_on:
      - redis
      - elasticsearch
redis:
  image: redis:7
  ports: []


elasticsearch:
  image: elasticsearch:8.x
  ports: []

